h1, h2, h3, h4, h5, h6 {
    font-weight: heavy;
    color: #fefefe;
}

label {
    color: #fefefe;
}

.section-title{
    text-align: center;
    color: #fefefe;
}

.section-title.black{
    color: #333;
}
.section-underline{
    width: 3%;
    max-width: 50px;
    display: block;
    margin: 0 auto 2rem auto;
    border-top: 3px solid #fefefe;
}
.section-underline.black {
    border-top: 3px solid #333;
}

#hourly_rate {
    border-radius: 0;
    width: 100%;
    max-width: 450px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #fefefe;
    border-left: none;
    background: transparent; color: #fefefe;
    font-size: 4em;
    font-weight: 900;
    line-height: 1.1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    outline: none;
    box-shadow: none;
}
#hourly_rate:before {
    content: "jQuery";
    color: #fefefe;
    display: block;
}

#hourly_rate:focus {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-shadow: none;
}

button[type=submit]{
    background: #CE9411;
    padding: 1em 3em;
    margin-top: 1rem;
    border-radius: 0;
    display: block;
    margin-right: auto!important;
    margin-left: auto!important;
    color: #fefefe;
}



/** Counter Styling **/
.counter-block {
    color: #fefefe;
    text-align: center;
}
.counter-block.black {
    color: #333;
}
.counter-display {
    font-weight: 900;
    font-size: 4em;
    margin: 0;
    line-height: 1em;
}
.counter-label {
    font-size: 1.25em;
    font-weight: 700;
    margin: 0;
}

/*Section Styling*/
header.hero-section {
    background: #617088;
    color: #fefefe;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

section.labor-cost {
    background: #C75443;
    color: #fefefe;
    padding-bottom: 8rem;
}

.labor-cost svg {
    margin-bottom: 4rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 8px;
}

section.initial-investment {
    background: #ebebeb;
    padding-bottom: 8rem;
}

.initial-investment svg {
    margin-bottom: 4rem;
}

section.yearly-maintenance{
    background: #7a7a7a;
    padding-bottom: 0;
}

.yearly-maintenance svg.top {
    margin-bottom: 4rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 8px;
}

.yearly-maintenance svg.bottom {
    margin-top: 8rem;
    margin-bottom: 0;
    position: relative;
    top: 6px;
}

section.pay-off {
    background: #C75443;
    padding-top: 2rem;
    padding-bottom: 8rem;
}

.hero-section h1 {
    line-height: 1.1;
    font-size: 5rem;
    margin-bottom: .25em;
    position: relative;
    z-index: 10;
}

.hero-section img {
    position: relative;
    right: 65px;
    z-index: 0;
}

.cls-1{fill:none;}.cls-2{fill:#d49f0f;}.cls-3{clip-path:url(#clip-path);}.cls-4,.cls-5{fill:#fff;}.cls-5{fill-rule:evenodd;}

/** .slide styling **/
.slide {
    width: 100%;
    padding: 2em;
}


/** .sign-um styling **/
.sign-up {
    background: linear-gradient(10deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, .8) 50%), url(https://special-lite.com/wp-content/uploads/2020/01/boxing-knockout.svg);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    padding-bottom: 12rem;
    color: #fefefe;
    padding: 5rem 0;
}

.sign-up hr {
    width: 5%;
    border: 1px solid #fefefe;
}